In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./dataset/crime_in_Vancouver.csv")
df.columns

Index(['TYPE', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'HUNDRED_BLOCK',
       'NEIGHBOURHOOD', 'X', 'Y', 'Latitude', 'Longitude'],
      dtype='object')

In [7]:
for i in df.columns:
    print(f"{i}:\n{df[i].value_counts()}")
    print()

TYPE:
Theft from Vehicle                                        172700
Mischief                                                   70413
Break and Enter Residential/Other                          60862
Offence Against a Person                                   54142
Other Theft                                                52167
Theft of Vehicle                                           38418
Break and Enter Commercial                                 33845
Theft of Bicycle                                           25730
Vehicle Collision or Pedestrian Struck (with Injury)       21901
Vehicle Collision or Pedestrian Struck (with Fatality)       254
Homicide                                                     220
Name: TYPE, dtype: int64

YEAR:
2003    49928
2004    49279
2005    44664
2006    42322
2016    37798
2007    37692
2008    35414
2015    34328
2014    32659
2009    32172
2010    29688
2012    29222
2013    29056
2011    28573
2017    17857
Name: YEAR, dtype: int64

MONTH:
5     46883
6     46711
8     45946
7     45679
3     45314
1     45218
10    44566
4     44038
9     43750
11    41946
2     40432
12    40169
Name: MONTH, dtype: int64

DAY:
1     19512
15    19298
12    18388
7     18186
11    18171
14    18165
13    18129
16    18076
8     18049
10    17872
17    17863
5     17798
6     17725
9     17716
20    17548
3     17517
18    17476
2     17433
4     17389
19    17185
21    16790
22    16735
23    16399
24    16296
28    16263
26    15873
27    15872
25    15656
30    15549
29    15469
31    10254
Name: DAY, dtype: int64

HOUR:
18.0    36195
17.0    31621
19.0    29590
22.0    28791
20.0    27707
21.0    27361
0.0     27177
16.0    26085
23.0    24389
15.0    23896
12.0    23613
14.0    20794
13.0    18523
9.0     16476
11.0    16055
10.0    15991
8.0     15934
1.0     12721
7.0     10802
2.0     10337
3.0      8757
6.0      8101
4.0      7912
5.0      7462
Name: HOUR, dtype: int64

MINUTE:
0.0     207339
30.0     74646
45.0     15327
15.0     13438
20.0      7736
50.0      7450
40.0      7029
10.0      6339
55.0      4546
25.0      4447
5.0       4431
1.0       4391
35.0      4219
59.0      2886
8.0       2608
24.0      2543
47.0      2541
48.0      2537
18.0      2531
53.0      2524
33.0      2517
36.0      2517
42.0      2512
28.0      2495
27.0      2485
37.0      2472
34.0      2462
12.0      2462
2.0       2457
38.0      2455
7.0       2452
14.0      2450
39.0      2441
56.0      2437
17.0      2436
54.0      2433
9.0       2432
52.0      2432
43.0      2428
23.0      2427
57.0      2420
26.0      2414
13.0      2411
11.0      2410
44.0      2407
31.0      2402
3.0       2399
41.0      2395
16.0      2392
6.0       2392
22.0      2388
21.0      2374
19.0      2369
58.0      2369
29.0      2357
4.0       2356
32.0      2349
49.0      2334
51.0      2334
46.0      2308
Name: MINUTE, dtype: int64

HUNDRED_BLOCK:
OFFSET TO PROTECT PRIVACY    54362
7XX GRANVILLE ST              4629
6XX GRANVILLE ST              3151
7XX W GEORGIA ST              2427
X NK_LOC ST                   2244
                             ...
6XX BLOCK E 45TH AVE             1
69XX BLOCK CAMBIE ST             1
65XX BLOCK KNIGHT ST             1
62XX BLOCK VICTORIA DR           1
13XX BLOCK PARK DR               1
Name: HUNDRED_BLOCK, Length: 21204, dtype: int64

NEIGHBOURHOOD:
Central Business District    110947
West End                      41352
Fairview                      32161
Mount Pleasant                30536
Grandview-Woodland            27180
Renfrew-Collingwood           26761
Kitsilano                     26699
Kensington-Cedar Cottage      24941
Strathcona                    20919
Hastings-Sunrise              18126
Sunset                        17396
Marpole                       13083
Riley Park                    12521
Victoria-Fraserview           10819
Killarney                     10475
Oakridge                       8037
Dunbar-Southlands              7746
Kerrisdale                     7447
Arbutus Ridge                  6066
West Point Grey                5871
Shaughnessy                    5426
South Cambie                   5212
Stanley Park                   3775
Musqueam                        532
Name: NEIGHBOURHOOD, dtype: int64

X:
0.00         54362
491445.91     2502
492757.49     2191
491398.87     1738
497308.77     1629
             ...
488741.05        1
497224.49        1
488309.55        1
487838.96        1
490204.00        1
Name: X, Length: 95502, dtype: int64

Y:
0.00          54362
5458896.41     2502
5458792.47     2191
5458862.01     1738
5456155.92     1654
              ...
5456439.93        1
5450918.04        1
5453243.22        1
5450975.74        1
5451444.00        1
Name: Y, Length: 93544, dtype: int64

Latitude:
0.000000     54362
49.282761     2502
49.281843     2191
49.282451     1738
49.258164     1629
             ...
49.214425        1
49.247548        1
49.247560        1
49.246755        1
49.215706        1
Name: Latitude, Length: 101885, dtype: int64

Longitude:
 0.000000      54362
-123.117618     2502
-123.099582     2191
-123.118264     1738
-123.036986     1629
               ...
-123.055888        1
-123.144821        1
-123.167466        1
-123.064816        1
-123.134512        1
Name: Longitude, Length: 98972, dtype: int64

In [4]:
df

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y,Latitude,Longitude
0,Other Theft,2003,5,12,16.0,15.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
1,Other Theft,2003,5,7,15.0,20.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
2,Other Theft,2003,4,23,16.0,40.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
3,Other Theft,2003,4,20,11.0,15.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
4,Other Theft,2003,4,12,17.0,45.0,9XX TERMINAL AVE,Strathcona,493906.50,5457452.47,49.269802,-123.083763
...,...,...,...,...,...,...,...,...,...,...,...,...
530647,Break and Enter Residential/Other,2017,3,3,9.0,16.0,31XX ADANAC ST,Hastings-Sunrise,497265.49,5458296.71,49.277420,-123.037595
530648,Mischief,2017,5,29,22.0,30.0,14XX E 7TH AVE,Grandview-Woodland,494533.97,5456824.97,49.264163,-123.075129
530649,Offence Against a Person,2017,4,13,NaN,NaN,OFFSET TO PROTECT PRIVACY,NaN,0.00,0.00,0.000000,0.000000
530650,Theft from Vehicle,2017,6,5,17.0,0.0,8XX HAMILTON ST,Central Business District,491487.85,5458385.78,49.278168,-123.117031
530651,Vehicle Collision or Pedestrian Struck (with I...,2017,6,6,17.0,38.0,13XX BLOCK PARK DR,Marpole,490204.00,5451444.00,49.215706,-123.134512